/* UserListItem.css */

.user-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Align items at the ends */
  align-items: center;
}

.user-info {
  margin-bottom: 6px;
  font-size: 16px;
  color: #333;
}

.export-btn {
  border-radius: 4px;
  background: #151a1e;
  padding: 10px 22px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.export-btn:hover {
  background: #2a5392;
}