.container {
    width: 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    display: flex;
    border-top: 1px solid black;
    border-right: 3px solid black;
    border-left: 1px solid black;
    border-bottom: 3px solid black;

}

.form-control {
    font-size: 16px;
    width: 350px;
    height: 50px;
}

.panel {
  box-shadow: none;
}
.panel-heading {
  border-bottom: 0;
  
}
.panel-heading2 {
  border-bottom: 0;
  text-align: center;
  
}
.panel-title {
  font-size: 32px;
  color: #1515aa;
}
.panel-title > small {
  font-size: .75em;
  color: #999999;
}
.panel-body *:first-child {
  margin-top: 0;
}
.panel-footer {
  border-top: 0;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.07);
}

form label {
    color: #999999;
    font-weight: 400;
}

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.button-group {
    margin-top: 3em;
}

.profile__contact-info-icon {
    float: left;
    font-size: 18px;
    color: #999999;
}
.profile__contact-info-body {
    overflow: hidden;
    padding-left: 20px;
    color: #999999;
}
.profile-avatar {
  width: 200px;
  position: relative;
  margin: 0px auto;
  margin-top: 196px;
  border: 4px solid #f3f3f3;
}

.applyBtn {
    background-color: #131b21;
    height: 40px;
    color: #ffffff;
    padding: 10px 30px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    justify-content: center;
    align-items: center;
}
  
.applyBtn:hover {
    background-color: #2a5392;
}

.deleteBtn {
  background-color: grey;
  height: 40px;
  width: 80%;
  color: #ffffff;
  padding: 10px 30px;
  margin: 30px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
  transition: color 0.5s ease, ;
  justify-content: center;
  align-items: center;
}

.deleteBtn:hover {
  background-color: red;
  color: black;
}

.Card {
  background-color: #e5eaed;
  font-family: "Raleway", sans-serif;
}

.job_img {
  width: 40%;
  border-radius: 12px;
  height: 184px;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}



/* Additional styling for the card inside the container */
.card {
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
  margin-top: 20px; /* Adjust spacing as needed */
}



.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}

p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.card__details {
  padding: 16px 8px 8px 8px;
}

button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}